Essential Features:

-Users can manage a personal list of recommended books
	-Add, view, delete

-System periodically (fairly) selects x=4 books from personal lists
	-No more than one book selected per person (what if there are fewer than x users?)
	-Duplicates are not allowed
		-How are duplicates decided? Multiple different books may have the same title, but there are multiple ways to write a single author's name.

-Users are able to vote to select one of the four books
	-1 week time limit on votes
	-If there is a tie, the system randomly decides between winning books

-System makes the winner of the vote known
	-Winning books are removed from the lists they were drawn from

-System keeps a record of past winning books
	-Past winners are not chosen again


Non-essential Features:

-Users can rate past winning books
